@import "tailwindcss";

@theme {
  --color-brand-green: #34d399; /* Emerald 400 */
  --color-bg-sidebar: #1E1E1E;
  --color-bg-main: #141414;
  --color-bg-card: #252525;
  --color-border-dark: #333333;
}

body {
  @apply bg-bg-main text-white;
}

/* Scrollbar tweaks for dark theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
